body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0080ff;
    width: 200vh;
    height: 75vh;
}

.container {
    padding: 50px;
    border-radius: 15px;
    width: max-content;
    text-align: left;
    margin: auto;
    margin-top: 150px;
    border-radius: 53px;
    background: #0080ff;
    box-shadow: 17px 17px 24px #005bb5, -17px -17px 24px #00a5ff;
}

.question {
    font-weight: bold;
    margin-bottom: 10px;
}

.options {
    margin-bottom: 5px;
}

.button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #07ed39;
    color: #050000;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
}

.feedback {
    margin-top: 10px;
    font-size: 14px;
}